<%
  anchor = render("shared/timeline-anchor", url: "/")
%>

<div class="release" id="<%= dom_id release %>">
  <%= render "shared/timeline", label: release_date(release), anchor: anchor do %>
    <div class="release--post" data-controller="inplace-editing" data-target="inplace-editing.content" id="<%= dom_id(release, :post) %>">
      <%= render "shared/release-post", release: release %>
    </div>

    <div class="release--notices">
      <% if release.notices.any? %>
        <%= render "shared/hr", heading: "Release popover notices" %>
      <% end %>

      <% release.notices.each do |notice| %>
        <%= render "shared/notice", notice: notice %>
      <% end %>

      <div data-controller="inplace-editing" data-target="inplace-editing.content" id="<%= dom_id release, :new_notice %>">
        <%= render "shared/new-notice", release: release %>
      </div>
    </div>
  <% end %>
</div>