<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div class="form-errors">
      <h3>Please check the errors below:</h3>

      <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
