<div class="release">
  <div class="release__date">
    <%= time_ago_in_words release.date %> ago
  </div>

  <div class="release__anchor">
    <%= render 'release-line', anchor_url: '/abc' %>
  </div>

  <div class="release__line">
    <%= render 'release-line' %>
  </div>

  <div class="release__header">
    <h3 class="release__name">
      <%= release.name %>

      <div class="release__actions">
        <%= render 'release-actions', release: release %>
      </div>
    </h3>
  </div>

  <div class="release__content">
    <%= release.body %><br>
    <%= release.body %><br>
    <%= release.body %><br>
    <%= release.body %><br>
  </div>
</div>