<%= render 'shared/card', elevation: 2 do %>
  <%= form_with model: release, url: (release.new_record? ? [project, release] : release) do |f| %>
    <div class="field">
      <%= f.label :name, 'Release name' %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :body, 'Release notes' %>
      <%= f.text_area :body, rows: "10" %>
    </div>

    <div class="field">
      <%= f.label :date, 'Release date' %>
      <%= f.date_field :date %>
    </div>

    <div class="form-actions">
      <%= f.submit class: 'button' %>

      <% if release.new_record? %>
        <%= link_to "Delete", nil, "data-action": "click->inplace-editing#cancelEditing" %>
      <% else %>
        <%= link_to 'Cancel', nil, "data-action": "click->inplace-editing#cancelEditing" %>
      <% end %>
    </div>
  <% end %>
<% end %>
