<!DOCTYPE html>
<html>
  <head>
    <title>Changelog</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <div class="application-layout__header">
        <%= render 'shared/application-header' %>
      </div>
    <% end %>

    <div class="application-layout__content">
      <% flash.each do |name, text| %>
        <%= content_tag :div, text, class: "flash flash--#{name}" %>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
